<%= form_tag import_keywords_path, multipart: true, :html => { :class => 'form-horizontal' } do  %>
  <div class="form-group">
    <%= file_field_tag :file, :class => 'text_field form-control' %>
  </div>

  <div class="form-group">
    <div class='col-md-offset-4 col-md-10'>
      <%= submit_tag "Import", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), keywords_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>